{% extends "layouts/jaikalki_layout.html" %}


{% block meta %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Meta Tags -->
<meta name="description" content="Learn more about Refund policy offered by Jaikalki Technology Pvt Ltd.">
<meta name="keywords" content="refund policy, Jaikalki Technology">
<meta name="robots" content="index, follow">

<!-- Open Graph (OG) Meta Tags -->
<meta property="og:site_name" content="Jaikalki Technology Pvt Ltd">
<meta property="og:title" content="Refund policy - Jaikalki Technology Pvt Ltd">
<meta property="og:description" content="Learn more about Refund policy offered by Jaikalki Technology Pvt Ltd.">
<meta property="og:image" content="https://jaikalki.com/static/img/default-refund-image.jpg">
<meta property="og:url" content="https://jaikalki.com/refund_policy">
<meta property="og:type" content="website">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@JaikalkiTech">
<meta name="twitter:title" content="Refund policy - Jaikalki Technology Pvt Ltd">
<meta name="twitter:description" content="Learn more about Refund policy offered by Jaikalki Technology Pvt Ltd.">
<meta name="twitter:image" content="https://jaikalki.com/static/img/default-refund-image.jpg">

<!-- Canonical Link -->
<link rel="canonical" href="https://jaikalki.com/refund.html">

<title>Refund policy - Jaikalki Technology Pvt Ltd</title>
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container">
            <h1>Refund Policy</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Starter Page</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">
        <!-- Section Title -->
        <div class="container" data-aos="fade-up">
            <div class="head-box">
                <h2><b>Refund and Grievance Redressal Policy</b></h2>

                <span><h6><b>Effective Date: 13th March 2025.</b></h6></span>
            </div>

            <h4><b>1. Introduction</b></h4>

            <p>
                This document is an electronic record in terms of the Information Technology Act, 2000 and rules
                thereunder as applicable and amended from time to time, including the Information Technology
                (Intermediary Guidelines and Digital Media Ethics Code) Rules, 2021. This electronic record is generated
                by an electronic system and does not require any physical or digital signatures.
            </p>

            <p>M/s. Jaikalki Technology Private Limited ("Company," "we," "us," or "our") operates <a
                    href="https://gurutvapay.com/">https://gurutvapay.com</a>
                ("Platform"), a payment processing service provider. We are committed to safeguarding the privacy of our
                users ("User," "you," or "your"). This Privacy Policy outlines how we collect, use, disclose, and
                protect your personal information. By accessing or using our Platform, you consent to the practices
                described in this policy.</p>

            <h4><b>2. Refund Policy</b></h4>
            <p>
                <b>1. General Refund Conditions</b><br>
                Amounts paid through our Platform are generally non-refundable. However, refunds may be considered under
                the following circumstances:<br></p>
            <ul>
                <li>
                    <b>Multiple Payments:</b> If your account is debited multiple times due to a technical error, the
                    excess
                    amount, excluding payment gateway charges, will be refunded.
                </li>
                <li>
                    <b>Failed Transactions:</b> If a payment is debited from your account but the transaction is
                    unsuccessful due
                    to a technical error, a full refund will be processed.
                </li>

            </ul>


            <h4><b>3. Refund Request Procedure</b></h4>
            <p>
                To request a refund, please follow these steps:<br>
            <ol>
                <li>
                    <b>Application Submission:</b> Submit a written application for a refund, including the transaction
                    number
                    and original payment receipt.<br></li>
                <li><b>Contact Information:</b> Send the application to our support team at support@gurutvapay.com</li>
                <li><b>Processing Time:</b> Upon receipt, we will manually verify the claim. If valid, the excess amount
                    will be
                    refunded electronically within 21 calendar days. It may take an additional 3-21 days for the
                    refunded
                    amount to reflect in your bank account, depending on your bank's policies.
                </li>
            </ol>

            <h4><b>4. Chargebacks and Disputes</b></h4>
            <p>
                A chargeback refers to a transaction that is returned to the User or acquiring bank for a refund due to
                reasons such as:<br></p>
            <ul>
                <li>
                    <b>Product/Service Issues:</b> The product or service was not as promised, defective, or
                    unsatisfactory.
                </li>
                <li>
                    <b>Unauthorized Transactions:</b> Payments made without the User's authorization.
                </li>
                <li>
                    <b>Technical Errors:</b> Errors leading to unsuccessful transactions or incorrect charges.
                </li>
            </ul>
            <p>In the event of a chargeback:</p>
            <ul>
                <li>
                    <b>Notification:</b> Inform your bank and our support team immediately, providing all required
                    information.
                </li>
                <li><b>Resolution:</b> We will work with you and the acquiring bank to resolve the issue. However, we
                    cannot
                    guarantee the retraction of the payment.
                </li>
            </ul>

            <h4><b>5. Grievance Redressal Mechanism</b></h4>

            <h6 class="bold">1. Objective</h6>
            <ul>
                <li>
                    We aim to resolve User grievances promptly and effectively, ensuring a fair and transparent process.
                </li>
            </ul>


            <h6 class="bold">2. Lodging a Grievance</h6>
            <p>
                If you have a concern, dispute, or complaint regarding our services:</p>
            <ul>
                <li>
                    <b>Contact Support:</b> Reach out to our customer support team via <a
                        href="mailto: support@gurutvapay.com"> support@gurutvapay.com</a></li>
                <li>
                    <b>Required Information:</b> Provide relevant documentation and information to facilitate
                    verification and
                    investigation.
                </li>
            </ul>


            <h6 class="bold">3. Grievance Handling Process</h6>
            <ul>
                <li>
                    <b>Acknowledgment:</b> We will acknowledge receipt of your grievance within 2 business days.
                </li>
                <li>
                    <b>Investigation:</b> Our team will investigate the issue, which may involve reviewing transaction
                    records
                    and liaising with third-party service providers.
                </li>
                <li>
                    <b>Resolution:</b> We aim to resolve grievances within 15 business days. You will be informed of the
                    resolution via your registered contact details.
                </li>
            </ul>

            <h4><b>6. Failed Transactions</b></h4>
            <ul>
                <p>
                    A 'Failed Transaction' is one that has not been completed due to reasons not attributable to the
                    User,
                    such as communication failures or session timeouts. In such cases:</p>
                <li>
                    <b>Automatic Reversal:</b> The transaction amount will be automatically refunded to your account
                    within 7-21
                    business days as per the refund policy of our banking partners/service providers.
                </li>
                <li>
                    <b>Contact Support:</b> If the refund is not processed within the stipulated time, contact our
                    support team
                    for assistance at <a href="mailto:support@gurutvapay.com">support@gurutvapay.com</a><br></li>

            </ul>

            <h4><b>7. User Responsibilities</b></h4>
            <p>
                To ensure a smooth grievance redressal process, Users are expected to:<br>
                • <b>Provide Accurate Information:</b> Furnish accurate and up-to-date information when lodging a
                grievance.<br>
                • <b>Cooperate Fully:</b> Comply with requests for additional information or documentation during the
                investigation process.<br>
            </p>

            <h4><b>8. No Charges for Grievance Filing</b></h4>
            <p>
                Users will not be charged any fee for filing a grievance or for the resolution process.
            </p>

            <h4><b>9. Updates to This Policy</b></h4>
            <p>
                We may update this Refund and Grievance Redressal Policy from time to time. Users will be notified of
                any significant changes, and continued use of the Platform after such changes constitutes acceptance of
                the new policy.
            </p>

            <h4><b>10. Contact Information</b></h4>
            <p>
                For any questions or concerns regarding this policy, please contact us at:</p>
            <ul>
                <li><a href="mailto:contact@gurutvapay.com" style="color:#2A55A2;font-weight:500;">contact@gurutvapay.com</a>
                </li>
                <li>
                    <b>Address:</b> Sh N B1/A Grd Flr Mahavir Ngr, Deepak Hospital, Mira Road, Thane, Maharashtra <br>
                </li>

            </ul>
        </div>

    </section><!-- /Starter Section Section -->

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


{% endblock javascripts %}